@import url(../settings/variables);
@import url(../tools/mixins);

.g-cta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: var(--spacing-l);
	padding-bottom: var(--spacing-l);
}

.g-cta__title {
	margin: 0;
	font-size: var(--fs-lead);
	font-weight: 400;
}