@import url(../settings/variables);

.m-card {
  padding: 1rem;
  background: var(--background-lighter-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: var(--text-muted-color);

}

.m-card__img {
    display: block;
    width: calc(100% + 2rem);
    max-width: none;
    margin: -1rem -1rem 0;
    border-radius: 5px 5px 0 0;
  }

  
.m-card__title {
    margin-bottom: 0.5rem;
    font-size: var(--fs-lead);
    font-weight: 400;
    line-height: 1.3;
}

.m-card__title:a {
    text-decoration: none;
  }
.m-card__meta {
    display: block;
    margin-bottom: 0.5rem;
  }
